<section class="education">
   
    <div class="education__timeline">
        <div *ngFor="let edu of educations; let i = index" class="education__item">
            <div class="education__icon">
                <i [class]="edu.icon"></i>
            </div>
            <div class="education__content">
                <div class="education__header">
                    <h3 class="education__degree">{{ edu.degree }}</h3>
                    <span class="education__period">{{ edu.period }}</span>
                </div>
                <div class="education__school">{{ edu.school }}</div>
                <div class="education__specialty">{{ edu.specialty }}</div>
                <span *ngIf="edu.badge" class="education__badge"><i [class]="edu.badge"></i></span>
            </div>
        </div>
    </div>
</section>
