<section class="about-main">
  <div class="about-main__left">
    <h1 class="section-title">{{ 'about.title' | translate }}</h1>
    <p class="about-main__desc">
      {{ 'about.description1' | translate }}
    </p>
    <p class="about-main__desc">
      {{ 'about.description2' | translate }}
    </p>
  </div>
   <div class="footer__social">
    <a href="https://www.linkedin.com/in/mohamed-chiheb-eddine-benammar-0aa456284/" target="_blank" rel="noopener noreferrer"
      aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100004474756575" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Facebook">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/chiheb_benammar/" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    
  </div>

</section>
<app-skills></app-skills>

<section class="about-sections">
  
    

    <div class="about-sections__item">
      <h2 class="section-title">{{ 'sections.education' | translate }}</h2>
      <app-education></app-education>
    </div>
    
<div class="about-sections__languages-interests">
  <h2 class="section-title">{{ 'sections.languages' | translate }}</h2>
<app-languages></app-languages>
</div>
  

  <div class="about-sections__stages">
    <h2 class="section-title">{{ 'sections.internships' | translate }}</h2>
    <app-experience [typeFilter]="'stage'"></app-experience>
  </div>

  <div class="about-sections__languages-interests">
    <h2 class="section-title" style="margin-top: 3rem;">{{ 'sections.interests' | translate }}</h2>
    <app-interests></app-interests>
  </div>
</section>