<section class="certificates">
    <h2 class="certificates__title">{{ 'sections.certificates' | translate }}</h2>
    <div class="certificates__grid">
        <div *ngFor="let cert of certificates" class="certificate-card">
            <div class="certificate-card__inner">
                <div class="certificate-card__front">
                    <div class="certificate-card__icon"><i class="fa-solid fa-certificate"></i></div>
                    <h3 class="certificate-card__name">{{ cert.name }}</h3>
                    <div class="certificate-card__platform">{{ cert.platform }}</div>
                    <div class="certificate-card__date">{{ cert.date }}</div>
                </div>
                <div class="certificate-card__back">
                    <div class="certificate-card__skills">
                        <span *ngFor="let skill of cert.skills" class="certificate-card__skill">{{ skill }}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
