
<section class="home-hero">
  <div class="home-hero__content">
    <span class="home-hero__label">{{ 'home.welcome' | translate }}</span>
    <h1 class="home-hero__title">
      <span class="home-hero__title-highlight-1">{{ 'home.heroMsg' | translate }}</span>
      <span class="home-hero__title-highlight-2">{{ 'home.heroSubMSg' | translate }}</span>
      <span class="home-hero__title-highlight-3">{{ 'home.heroDescription' | translate }}</span>
    </h1>

    <div class="home-hero__actions">
      <a href="#projects" class="home-hero__btn home-hero__btn--primary" (click)="scrollToProjects($event)">{{
        'home.viewProjects' | translate }}</a>
      <a [href]="cvUrl" target="_blank" class="home-hero__btn home-hero__btn--secondary">{{ 'home.downloadCV' |
        translate }}</a>
    </div>
  </div>
  <div class="home-hero__profile">
    <div class="home-hero__img-wrapper">
      <div class="home-hero__img-bg"></div>
      <img src="../../../assets/photo-proff-chat.png" alt="Profile Picture" class="home-hero__img" />
    </div>
  </div>
</section>